<app-navbar></app-navbar>
<div class="container">
  <div class="col-sm-4 m-3 container-fluid">
    <label class="control-label text-muted">Busqueda por titulo:</label>
    <div class="d-flex">
      <input
        type="text"
        class="form-control"
        name="search"
        [(ngModel)]="titulo"
        placeholder="Buscar"
      />
      <div class="input-group-append mx-2">
        <button
          class="btn btn-outline-success"
          type="button"
          id="button-addon2"
          (click)="buscarTitulo()"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div *ngFor="let libro of libros" class="col-md-3 col-sm-6">
      <div class="card my-2">
        <img
          src="assets/libros/{{ libro.portada }}.jpg"
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <h2 class="card-title">{{ libro.titulo }}</h2>
          <p class="card-title">Autor: {{ libro.autor }}</p>
          <p class="card-text">
            Precio: <strong>$ {{ libro.precio | number }} </strong>
          </p>
          <div class="d-grid gap-2 d-md-block row mx-1">
            <button type="button" class="btn btn-info my-2">Ver detalle</button>
            <button type="button" class="btn btn-secondary">
              <i class="bi bi-cart3"></i> Agregar al carrito
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-danger mt-4 fade show" role="alert" *ngIf="existe">
    <i class="bi bi-person-x-fill fs-5"></i> No existe {{ titulo }} en el catalogo
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
</div>
