.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.footer-down {
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0px;
    height: 60px;
    width: 100%;
}